<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../css/styles.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="main">
            <div class="heading">
                <img src="https://res.cloudinary.com/hungryram19/image/upload/v1648673755/serhant/Event/serhant-white-logo.png" alt="" width="300">
            </div>
            <div id="myCircle">
              <div id="mainCircle">
                      <div class="circle"></div>
                      <div class="circle1"></div>
                <div id="mainContent">
                    <img src="https://res.cloudinary.com/hungryram19/image/upload/v1648672941/serhant/Event/working-join-qr-code.png" alt="" width="300">
                </div>
                  </div>
            </div>
          </div>
         
    </body>
</html>